<div class="container my-4">
  <div id="travelCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1521336575822-6da63fb45455?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="Paris">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="carousel-title">Adventure trips</h2>
          <p class="carousel-subtitle">Adventurous </p>
          <p class="carousel-description1">Travel, Worldclass</p>
          <p class="carousel-description2">The Real voyage of discovery consists not in seeking new landscapes,but in new eyes.Discover it width
            Travelmate,The No.1 travel brand in SouthIndia.
          </p>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1504173010664-32509aeebb62?q=80&w=2027&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="London">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="carousel-title">Wildlife trips</h2>
          <p class="carousel-subtitle">Wildlife</p>
          <p class="carousel-description1">Travel, Worldclass</p>
          <p class="carousel-description2">The Real voyage of discovery consists not in seeking new landscapes,but in new eyes.Discover it width
            Travelmate,The No.1 travel brand in SouthIndia.
          </p>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1444210971048-6130cf0c46cf?q=80&w=1173&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="Maldives">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="carousel-title">Relax in Maldives</h2>
           <p class="carousel-subtitle">Beachlife</p>
          <p class="carousel-description1">Travel, Worldclass</p>
          <p class="carousel-description2">The Real voyage of discovery consists not in seeking new landscapes,but in new eyes.Discover it width
            Travelmate,The No.1 travel brand in SouthIndia.
          </p>
        </div>
      </div>

      <!-- Slide 4 -->
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1669043962278-fcf15a3ba5a0?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="Dubai">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="carousel-title">Live like a King</h2>
          <p class="carousel-subtitle">Luxurylife</p>
          <p class="carousel-description1">Travel, Worldclass</p>
          <p class="carousel-description2">The Real voyage of discovery consists not in seeking new landscapes,but in new eyes.Discover it width
            Travelmate,The No.1 travel brand in SouthIndia.</p>
        </div>
      </div>
      
       <div class="carousel-item">
        <video class="d-block w-100" autoplay muted loop>
        <source src="https://videos.pexels.com/video-files/3191901/3191901-uhd_2560_1440_25fps.mp4" type="video/mp4">
        </video>
        <div class="carousel-caption d-none d-md-block">
        <h2 class="carousel-title">Journey Begins</h2>
        <p class="carousel-subtitle">Explore World</p>
          <p class="carousel-description1">Travel, Worldclass</p>
          <p class="carousel-description2">The Real voyage of discovery consists not in seeking new landscapes,but in new eyes.Discover it width
            Travelmate,The No.1 travel brand in SouthIndia.</p>
        </div>
        </div>

        <div class="carousel-item">
        <video class="d-block w-100" autoplay muted loop>
        <source src="https://videos.pexels.com/video-files/3015510/3015510-hd_1920_1080_24fps.mp4" type="video/mp4">
        </video>
        <div class="carousel-caption d-none d-md-block">
        <h2 class="carousel-title">Journey Begins with Fly</h2>
        <p class="carousel-subtitle">Floating with Freedom</p>
        <p class="carousel-description1">Travel, Worldclass</p>
          <p class="carousel-description2">The Real voyage of discovery consists not in seeking new landscapes,but in new eyes.Discover it width
            Travelmate,The No.1 travel brand in SouthIndia.</p>
        </div>
        </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#travelCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#travelCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>
